
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Web Browser
Name[ar]=متصفّح الانترنت
Name[bg]=Браузър
Name[bn]=ওয়েব ব্রাউজার
Name[ca]=Navegador web
Name[cs]=Prohlížeč WWW
Name[cy]=Porwr Gwe
Name[da]=Internetsurfning
Name[de]=Webbrowser
Name[el]=Περιηγητής Ιστοσελίδων
Name[es]=Navegador web
Name[et]=Veebilehitseja
Name[fa]=مرورگر وب
Name[fi]=WWW-selain
Name[fr]=Navigateur Web
Name[gu]=વેબ બ્રાઉઝર
Name[he]=דפדפן אינטרנט
Name[hi]=वेब ब्राउज़र
Name[hr]=Web preglednik
Name[hu]=Webböngésző
Name[id]=Browser Web
Name[is]=Vafri
Name[it]=Browser web
Name[ja]=GNOME ウェブ・ブラウザ
Name[ko]=웹 브라우저
Name[lt]=Web naršyklė
Name[mk]=Веб прелистувач
Name[ms]=Pelungsur Web
Name[nb]=Nettleser
Name[nl]=Web-browser
Name[no]=Nettleser
Name[pa]=ਵੈੱਬ ਝਲਕ
Name[pl]=Przeglądarka WWW
Name[pt]=Navegador Web
Name[pt_BR]=Navegador Web
Name[ro]=Navigator Internet
Name[ru]=Браузер веб-страниц
Name[sk]=WWW prehliadač
Name[sl]=Spletni brskalnik
Name[sq]=Shfletuesi Web
Name[sv]=Webbläsare
Name[ta]=வலை உலாவி
Name[th]=เว็บบราวเซอร์
Name[tr]=Web Tarayıcı
Name[uk]=Переглядач web-сторінок
Name[vi]=Trình duyệt Web
Name[zh_CN]=Web 浏览器
Name[zh_TW]=網頁瀏覽器
Comment=Browse the web
Comment[ar]=تصفح الانترنت
Comment[bg]=Сърфиране в интернет
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[ca]=Navegueu per la web
Comment[cs]=Prohlížet WWW
Comment[cy]=Pori'r we
Comment[da]=Surf på internettet
Comment[de]=Im Web surfen
Comment[el]=Περιήγηση στον παγκόσμιο ιστό
Comment[es]=Navegar por la web
Comment[et]=Sirvi veebi
Comment[fa]=مرور وب
Comment[fi]=Selaa WWW:tä
Comment[fr]=Naviguer sur Internet
Comment[gu]=વેબમાં શોધો
Comment[he]=גלוש ברשת
Comment[hi]=वेब ब्राउज़ करें
Comment[hr]=Pregledaj Web
Comment[hu]=A világháló böngészése
Comment[id]=Jelajah web
Comment[is]=Flakka um netið
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[lt]=Naršyti internete
Comment[mk]=Прелистувајте го вебот
Comment[ms]=Layari web
Comment[nb]=Surf på nettet
Comment[nl]=Websurfen
Comment[no]=Surf på nettet
Comment[pa]=ਵੈੱਬ ਝਲਕ ਵੇਖੋ
Comment[pl]=Przeglądanie stron WWW
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegar na web
Comment[ro]=Navigare Internet
Comment[ru]=Программа для просмотра веб-страниц
Comment[sk]=Prehliadať internet
Comment[sl]=Brskaj po spletu
Comment[sq]=Eksploro web-in
Comment[sv]=Surfa på nätet
Comment[ta]=வலையில் உலாவு
Comment[th]=ใช้งานเว็บบราวเซอร์
Comment[tr]=Web'e Gözat
Comment[uk]=Програма перегляду web-сторінок
Comment[vi]=Duyệt web
Comment[zh_CN]=浏览 Web
Comment[zh_TW]=瀏覽網頁
Icon=redhat-web-browser.png
Terminal=false
Type=Application
NoDisplay=true
Categories=Application;Network;X-Red-Hat-Base;X-Red-Hat-Base-Only;
Name[en_US]=Web Browser
Comment[en_US]=Browse the web
Icon[en_US]=/usr/share/icons/Bluecurve/48x48/apps/redhat-web-browser.png
Exec=firefox
