[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=OpenOffice.org Impress
Name[ar]=أوبن أوفيس.أورغ إمْبرس
Name[bg]=OpenOffice.org Impress
Name[bn]=OpenOffice.org ইমপ্রেস
Name[ca]=OpenOffice.org Impress
Name[cs]=OpenOffice.org Impress
Name[cy]=OpenOffice.org Impress
Name[da]=OpenOffice.org Impress
Name[de]=OpenOffice.org Impress
Name[el]=OpenOffice.org Impress
Name[es]=Impresión de OpenOffice.org
Name[et]=OpenOffice.org Esitlus
Name[fa]=اپن‌آفیس.ارگ ایمپرس
Name[fi]=OpenOffice.org Impress
Name[fr]=OpenOffice.org Impress
Name[gu]=Openoffice.org ઈમ્પ્રેસ
Name[he]=OpenOffice.org Impress
Name[hi]=OpenOffice.org Impress
Name[hr]=OpenOffice.org Impress
Name[hu]=OpenOffice.org Impress
Name[id]=OpenOffice.org Impress
Name[is]=OpenOffice.org Impress
Name[it]=OpenOffice.org Impress
Name[ja]=OpenOffice.org Impress
Name[ko]=OpenOffice.org Impress
Name[lt]=OpenOffice.org Impress
Name[mk]=OpenOffice.org импрес
Name[ms]=OpenOffice.org Impress
Name[nb]=OpenOffice.org Impress
Name[nl]=OpenOffice.org Impress
Name[no]=OpenOffice.org Impress
Name[pa]=OpenOffice.org ਐਮਪ
Name[pl]=Narzędzie do tworzenia prezencji OpenOffice.org Impress
Name[pt]=OpenOffice.org Impress
Name[pt_BR]=OpenOffice.org Impress
Name[ro]=OpenOffice.org Impress
Name[ru]=OpenOffice.org Impress
Name[sk]=OpenOffice.org Impress
Name[sl]=OpenOffice.org Impress
Name[sv]=OpenOffice.org Impress
Name[ta]=OpenOffice.org இம்ப்ரஸ்
Name[th]=OpenOffice.org Impress
Name[tr]=OpenOffice.org Sunum
Name[uk]=OpenOffice.org Impress
Name[vi]=OpenOffice.org Impress
Name[zh_CN]=OpenOffice.org Impress
Name[zh_TW]=OpenOffice.org Impress
Name[zu]=I-OpenOffice.org Impress
Comment=Create presentations
Comment[ar]=إنشاء تقديمات
Comment[bg]=Създаване на презентации
Comment[bn]=উপস্থাপনা তৈরি করো
Comment[ca]=Dissenyeu presentacions
Comment[cs]=Vytvořit prezentaci
Comment[cy]=Creu cyflwyniadau
Comment[da]=Lav præsentationer
Comment[de]=Präsentationen anlegen
Comment[el]=Δημιουργία παρουσιάσεων
Comment[es]=Crear presentaciones
Comment[et]=Loo ettekanne
Comment[fa]=ایجاد نمایش
Comment[fi]=Luo esityksiä
Comment[fr]=Créer des présentations
Comment[gu]=રજૂઆતો બનાવો
Comment[he]=צור מצגות
Comment[hi]=प्रस्तुति निर्मित करें
Comment[hr]=Stvara prezentacije
Comment[hu]=Bemutatók létrehozása
Comment[id]=Membuat presentasi
Comment[is]=Búa til kynningu
Comment[it]=Creare presentazioni
Comment[ja]=プレゼンテーションを作成
Comment[ko]=프레젠테이션 생성
Comment[lt]=Kurti prezentacijas
Comment[mk]=Креирај презентации
Comment[ms]=Cipta persembahan
Comment[nb]=Lag presentasjoner
Comment[nl]=Presentaties maken
Comment[no]=Lag presentasjoner
Comment[pa]=ਪੇਸ਼ਕਾਰੀ ਬਣਾਉ
Comment[pl]=Narzędzie do tworzenia prezencji
Comment[pt]=Crie apresentações
Comment[pt_BR]=Criar apresentações
Comment[ro]=Creează prezentări
Comment[ru]=Создание презентаций
Comment[sk]=Vytvoriť prezentácie
Comment[sl]=Ustvari predstavitve
Comment[sv]=Skapa presentationer
Comment[ta]=முன்வைப்புகளை உருவாக்கு
Comment[th]=สร้างไฟล์นำเสนอ
Comment[tr]=Sunum hazırlama
Comment[uk]=Створення презентацій
Comment[vi]=Tạo trình diễn
Comment[zh_CN]=创建演示文稿
Comment[zh_TW]=建立簡報
Comment[zu]=Dala okokukhombisa
Exec=ooimpress
Icon=redhat-presentations.png
Terminal=false
Type=Application
Categories=Application;Office;X-Red-Hat-Base;
MimeType=application/vnd.stardivision.impress;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.ms-powerpoint;application/mspowerpoint;application/powerpoint;application/x-mspowerpoint;application/x-ole-storage;
StartupWMClass=VCLSalFrame
