[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=OpenOffice.org Calc
Name[ar]=أوبن أوفيس.أورغ كالك
Name[bg]=OpenOffice.org Calc
Name[bn]=OpenOffice.org ক্যালকুলেটর (Calc)
Name[ca]=OpenOffice.org Calc
Name[cs]=OpenOffice.org Calc
Name[cy]=OpenOffice.org Calc
Name[da]=OpenOffice.org Calc
Name[de]=OpenOffice.org Calc
Name[el]=OpenOffice.org Calc
Name[es]=OpenOffice.org Calc
Name[et]=OpenOffice.org Arvutustabel
Name[fa]=اپن‌آفیس.ارگ کلک
Name[fi]=OpenOffice.org Calc
Name[fr]=OpenOffice.org Calc
Name[gu]=Openoffice.org કેલ્ક્યુલેટર
Name[he]=OpenOffice.org Calc
Name[hi]=ओपनआफिस.और्ग गणना
Name[hr]=OpenOffice.org Calc
Name[hu]=OpenOffice.org Calc
Name[id]=OpenOffice.org Calc
Name[is]=OpenOffice.org Calc
Name[it]=OpenOffice.org Calc
Name[ja]=OpenOffice.org Calc
Name[ko]=OpenOffice.org Calc
Name[lt]=OpenOffice.org Calc
Name[mk]=OpenOffice.org калкулатор
Name[ms]=OpenOffice.org Calc
Name[nb]=OpenOffice.org Calc
Name[nl]=OpenOffice.org Calc
Name[no]=OpenOffice.org Calc
Name[pa]=OpenOffice.org -ਸਾਰਣੀਕਾਰ
Name[pl]=Arkusz kalkulacyjny OpenOffice.org Calc
Name[pt]=OpenOffice.org Calc
Name[pt_BR]=OpenOffice.org Calc
Name[ro]=OpenOffice.org Calc
Name[ru]=OpenOffice.org Calc
Name[sk]=OpenOffice.org Calc
Name[sl]=OpenOffice.org Calc
Name[sv]=OpenOffice.org Calc
Name[ta]=OpenOffice.org கால்க்
Name[th]=OpenOffice.org Calc
Name[tr]=OpenOffice.org Çizelge
Name[uk]=OpenOffice.org Calc
Name[vi]=OpenOffice.org Calc
Name[zh_CN]=OpenOffice.org Calc
Name[zh_TW]=OpenOffice.org Calc
Name[zu]=I-OpenOffice.org Yomshini wokubala
Comment=Spreadsheet
Comment[ar]=برنامج الجدولة
Comment[bg]=Електронна таблица
Comment[bn]=স্প্রেড শীট
Comment[ca]=Full de càlcul
Comment[cs]=Tabulkový procesor
Comment[cy]=Taenlen
Comment[da]=Regneark
Comment[de]=Tabellenkalkulation
Comment[el]=Λογιστικό φύλλο
Comment[es]=Hoja de cálculo
Comment[et]=Arvutustabel
Comment[fa]=صفحه‌گسترده
Comment[fi]=Taulukkolaskenta
Comment[fr]=Tableur
Comment[gu]=સ્પ્રેડશીટ
Comment[he]=גיליון אלקטרוני
Comment[hi]=स्प्रेडशीट
Comment[hr]=Tablični kalkulator
Comment[hu]=Táblázatkezelő
Comment[id]=Spreadsheet
Comment[is]=Töflureiknir
Comment[it]=Foglio di calcolo
Comment[ja]=スプレッドシート
Comment[ko]=스프레드시트
Comment[lt]=Elektroninės lentelės
Comment[mk]=Табели
Comment[ms]=Hamparan
Comment[nb]=Regneark
Comment[nl]=Spreadsheet
Comment[no]=Regneark
Comment[pa]=ਸਾਰਨੀਕਾਰ
Comment[pl]=Arkusz kalkulacyjny
Comment[pt]=Folha de cálculo
Comment[pt_BR]=Planilha eletrônica
Comment[ro]=Calcul tabelar
Comment[ru]=Электронная таблица
Comment[sk]=Tabuľkový procesor
Comment[sl]=Preglednica
Comment[sv]=Kalkylblad
Comment[ta]=விரிதாள்
Comment[th]=ตารางคำนวณ
Comment[tr]=Hesap Çizelgesi
Comment[uk]=Електронна таблиця
Comment[vi]=Bảng tính
Comment[zh_CN]=电子表格
Comment[zh_TW]=試算表
Comment[zu]=Ikhasi lokubala
Exec=oocalc
Icon=redhat-spreadsheet.png
Terminal=false
Type=Application
Categories=Application;Office;X-Red-Hat-Base;
MimeType=application/vnd.stardivision.calc;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/vnd.stardivision.chart;application/vnd.ms-excel;application/msexcel;application/x-msexcel;application/x-ms-excel;application/vnd.ms-excel;application/x-excel;application/xls;application/x-xls;text/x-comma-separated-values;text/csv;application/csv;application/tab-separated-values;application/x-ole-storage;
StartupWMClass=VCLSalFrame
