[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=OpenOffice.org Writer
Name[ar]=أوبن أوفيس.أورغ رايتر
Name[bg]=OpenOffice.org Writer
Name[bn]=OpenOffice.org রাইটার
Name[ca]=OpenOffice.org Writer
Name[cs]=OpenOffice.org Writer
Name[cy]=OpenOffice.org Writer
Name[da]=OpenOffice.org Writer
Name[de]=OpenOffice.org Writer
Name[el]=OpenOffice.org Writer
Name[es]=Escritor de OpenOffice.org
Name[et]=OpenOffice.org Tekstidokument
Name[fa]=اپن‌آفیس.ارگ رایتر
Name[fi]=OpenOffice.org Writer
Name[fr]=OpenOffice.org Writer
Name[gu]=Openoffice.org લખનાર
Name[he]=OpenOffice.org Writer
Name[hi]=ओपनआफिस.और्ग लेखक
Name[hr]=OpenOffice.org Writer
Name[hu]=OpenOffice.org Writer
Name[id]=OpenOffice.org Writer
Name[is]=OpenOffice.org ritill
Name[it]=OpenOffice.org Writer
Name[ja]=OpenOffice.org Writer
Name[ko]=OpenOffice.org Writer
Name[lt]=OpenOffice.org Writer
Name[mk]=OpenOffice.org пишување
Name[ms]=OpenOffice.org Writer
Name[nb]=OpenOffice.org Writer
Name[nl]=OpenOffice.org Writer
Name[no]=OpenOffice.org Writer
Name[pa]=OpenOffice.org- ਸ਼ਬਦਕਾਰ
Name[pl]=Procesor tekstu OpenOffice.org
Name[pt]=OpenOffice.org Writer
Name[pt_BR]=OpenOffice.org Writer
Name[ro]=OpenOffice.org Writer
Name[ru]=OpenOffice.org Writer
Name[sk]=OpenOffice.org Writer
Name[sl]=OpenOffice.org Writer
Name[sv]=OpenOffice.org Writer
Name[ta]=OpenOffice.org ரைட்டர்
Name[th]=OpenOffice.org Writer
Name[tr]=OpenOffice.org Kelimeİşlemci
Name[uk]=OpenOffice.org Writer
Name[vi]=OpenOffice.org Writer
Name[zh_CN]=OpenOffice.org Writer
Name[zh_TW]=OpenOffice.org Writer
Name[zu]=I-OpenOffice.org Yokubhala
Comment=Word processor
Comment[ar]=معالج كلمات
Comment[bg]=Текстов редактор
Comment[bn]=ওয়ার্ড প্রসেসর
Comment[ca]=Processador de textos
Comment[cs]=Textový procesor
Comment[cy]=Prosesydd geiriau
Comment[da]=Tekstbehandler
Comment[de]=Textverarbeitung
Comment[el]=Επεξεργαστής κειμένου
Comment[es]=Procesador de textos
Comment[et]=Tekstitöötlus
Comment[fa]=واژه‌پرداز
Comment[fi]=Tekstinkäsittely
Comment[fr]=Traitement de texte
Comment[gu]=વર્ડ પ્રોસેસર
Comment[he]=מעבד תמלילים
Comment[hi]=शब्द प्रोसेसर
Comment[hr]=Program za obradu teksta
Comment[hu]=Szövegszerkesztő
Comment[id]=Pengolah kata
Comment[is]=Ritvinnsla
Comment[it]=Word processor
Comment[ja]=ワードプロッセッサ
Comment[ko]=워드 프로세서
Comment[lt]=Tekstų redaktorius
Comment[mk]=Процесор на зборови
Comment[ms]=Pemproses perkataan
Comment[nb]=Tekstbehandling
Comment[nl]=Tekstverwerker
Comment[no]=Tekstbehandling
Comment[pa]=ਸ਼ਬਦਕਾਰ
Comment[pl]=Procesor tekstu
Comment[pt]=Processador de texto
Comment[pt_BR]=Processador de texto
Comment[ro]=Redactare documente
Comment[ru]=Текстовый процессор
Comment[sk]=Textový editor
Comment[sl]=Urejevalnik besedil
Comment[sv]=Ordbehandlare
Comment[ta]=சொற்செயலி
Comment[th]=โปรแกรมประมวลคำ
Comment[tr]=Kelime işlemci
Comment[uk]=Текстовий процесор
Comment[vi]=Trình xử lý văn bản
Comment[zh_CN]=文字处理器
Comment[zh_TW]=文字處理器
Comment[zu]=Umgayi wegama
Exec=oowriter
Icon=redhat-word-processor.png
Terminal=false
Type=Application
Categories=Application;Office;X-Red-Hat-Base;
MimeType=application/vnd.stardivision.writer;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/vnd.wordperfect;application/rtf;text/plain;application/x-ole-storage;
StartupWMClass=VCLSalFrame
