[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Email
Name[ar]=بريد إفوليوشن
Name[bg]=Еволюшън офис мениджър
Name[bn]=ই-মেইল
Name[ca]=Correu electrònic
Name[cs]=E-mail
Name[cy]=Ebost
Name[da]=E-postprogrammet
Name[de]=E-Mail
Name[el]=Email
Name[es]=Correo electrónico
Name[et]=Epost
Name[fa]=پیام‌نگار اوولوشن
Name[fi]=Sähköposti
Name[fr]=Courrier électronique
Name[gu]=ઈ-મેઈલ
Name[hi]=Email
Name[hr]=E-pošta
Name[hu]=E-mail
Name[id]=Email
Name[is]=Póstur
Name[it]=E-mail
Name[ja]=電子メール
Name[ko]=이메일
Name[lt]=Email
Name[mk]=Клиент за пошта
Name[ms]=Emel
Name[nb]=E-post
Name[nl]=E-mail
Name[no]=E-post
Name[pa]=ਈ-ਪੱਤਰ
Name[pl]=Klient poczty
Name[pt]=E-mail
Name[pt_BR]=Email
Name[ro]=Poştă electronică
Name[ru]=Электронная почта и календарь
Name[sk]=E-mail
Name[sl]=Poštni program
Name[sv]=E-postprogrammet
Name[ta]=எவல்யூஷன் மின்னஞ்சல்
Name[th]=อีเมล
Name[tr]=Eposta
Name[uk]=Електронна пошта та календар
Name[vi]=Thư điện
Name[zh_CN]=电子邮件
Name[zh_TW]=電子郵件
Name[zu]=Iposi lekhomputha Lokudaleka
Comment=Send email and manage your schedule
Comment[ar]=إرسل بريد و أدر جدولك
Comment[bg]=Изпращане на електронна поща и управление на графика
Comment[bn]=ই-মেইল প্রেরণ করুন এবং আপনার কর্মতালিকা নিয়ন্ত্রণ করুন
Comment[ca]=Envieu correus electrònics i planifiqueu el vostre temps
Comment[cs]=Posílat e-mail a spravovat váš plán
Comment[cy]=Anfon ebost a threfnu'ch amserlen
Comment[da]=Send e-post og håndter din kalender
Comment[de]=Email Versenden und Ihren Kalender verwalten
Comment[el]=Αποστολή email και διαχείριση του χρόνου σας
Comment[es]=Enviar correo electrónico y administrar su horario
Comment[et]=Saada epost ja halda oma ajakava
Comment[fa]=فرستادن نامه‌ی الکترونیکی و مدیریت برنامه‌ی زمانی شما
Comment[fi]=Lähetä sähköpostia ja hallitse aikataulua
Comment[fr]=Envoyer du courrier électronique et gérer votre programme
Comment[gu]=ઈ-મેઈલ મોકલો અને તમારા સમયક્રમની વ્યવસ્થા કરો
Comment[he]=שלח דואר אלקטרוני ונהל את זמנך
Comment[hi]=ईडाक भेजें और अपने नियोजन का प्रबंध करें
Comment[hr]=Šalje e-poruke i upravlja vašim rasporedom
Comment[hu]=E-mail-küldés és határidőnapló-kezelés
Comment[id]=Mengirim email dan mengelola jadwal anda
Comment[is]=Senda tölvupóst og sýsla í dagatalinu
Comment[it]=Inviate email e gestite il vostro programma
Comment[ja]=電子メールを送り、スケジュールを管理します
Comment[ko]=이메일 전송과 스케줄 관리
Comment[lt]=Siunčia el. paštą ir valdo jūsų dienotvarkę
Comment[mk]=Праќање на пораки и организација на распоредот
Comment[ms]=Kirim emel dan urus penjadualan anda
Comment[nb]=Send meldinger og håndter avtaler
Comment[nl]=Email versturen en uw agenda beheren
Comment[no]=Send meldinger og håndter avtaler
Comment[pa]=ਈ-ਪੱਤਰ ਭੇਜੋ ਅਤੇ ਆਪਣੀ ਕਾਰਜ-ਸੂਚੀ ਨੂੰ ਸੰਭਾਲੋ
Comment[pl]=Narzędzie do przesyłania poczty elektronicznej i zarządzania zadaniami
Comment[pt]=Envie e-mails e organize a sua agenda
Comment[pt_BR]=Enviar email e gerenciar sua agenda
Comment[ro]=Trimite email şi planifică timpul
Comment[ru]=Работа с электронной почтой и личным расписанием
Comment[sk]=Posielať e-maily a spravovať váš rozvrh
Comment[sl]=Pošlje pošto in usklajuje vaš urnik
Comment[sv]=Skicka e-post och hantera ditt schema
Comment[ta]=மின்னச்ஞல் அனுப்பல் மற்றும் உங்கள் பணிஅட்டவணையை கையாளுதல்
Comment[th]=รับส่งอีเมลและบริหารตารางเวลาของคุณ
Comment[tr]=Eposta gönderir ve takvimi yönetir
Comment[uk]=Робота з електронною поштою та особистим розкладом
Comment[vi]=Gửi thư và quản lý lịch biểu
Comment[zh_CN]=发送电子邮件并管理您的日程
Comment[zh_TW]=傳送電子郵件以及行程管理
Comment[zu]=Thumela iposi lekhomputha ebese uphatha ukusebenza kwalo
Exec=launchmail
Icon=redhat-email.png
NoDisplay=true
Terminal=false
Type=Application
Categories=X-Red-Hat-Base;X-Red-Hat-Base-Only;Network;Application;
StartupNotify=True
