@font-face {
  font-family: 'Calibri::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Calibri'), url('https://themes.googleusercontent.com/font?kit=9coX2bxtmeZhxv91CXw7qQ') format('truetype');
}
@font-face {
  font-family: 'Cambria::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Cambria'), url('https://themes.googleusercontent.com/font?kit=qOP3jt5fC7RVkXxxuZ0KQA') format('truetype');
}
@font-face {
  font-family: 'Consolas::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Consolas'), url('https://themes.googleusercontent.com/font?kit=AHTQE2f8E-7C4Fagw1YmbfesZW2xOQ-xsNqO47m55DA') format('truetype');
}
@font-face {
  font-family: 'Corsiva::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Corsiva'), url('https://themes.googleusercontent.com/font?kit=cJrGG4Js3mYb0ayrvsDybQ') format('truetype');
}
@font-face {
  font-family: 'Droid Sans::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), url('https://themes.googleusercontent.com/font?kit=vk1xBJHzOPMZIrllGO7pBC3USBnSvpkopQaUR-2r7iU') format('truetype');
}
@font-face {
  font-family: 'Droid Serif::Menu';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), url('https://themes.googleusercontent.com/font?kit=0AKsP294HTD-nvJgucYTaGeudeTO44zf-ht3k-KNzwg') format('truetype');
}
